[submodule "Tukxel++/Vendor/glad"]
	path = Tukxel++/Vendor/glad
	url = git@github.com:Dav1dde/glad.git
	branch = c
[submodule "Tukxel++/Vendor/glm"]
	path = Tukxel++/Vendor/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "Tukxel++/Vendor/stb"]
	path = Tukxel++/Vendor/stb
	url = git@github.com:nothings/stb.git
	branch = master
[submodule "glfw"]
	path = Tukxel++/Vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
